.container {
    font-family: 'Roboto', sans-serif;
    background-image: url("../images/mountains.jpg");
    background-repeat: space;
    background-size: contain;
    background-position: center;
}